@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Monoton&display=swap');
* {
    background-color: #090957;
    color: white;
    display: block;
    font-size: 16px;
  }
  /* create flex container for document */
  body {
    font-family: 'Inconsolata', monospace;
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
  }
  
  .container {
    background-color: #00000b;
    padding: 25px;
    border: 2px dotted white;
    width: 500px;
    max-width: 75%;
  }
  
  input {
    background-color: #CC0000;
    color: #FFFC19;
    border: 1.5px solid white;
    padding: 5px;
  }
  
  input:focus {
    background-color: #7ccc63;
    color: #0D0D57;
  }
  
  .title h3 {
    background-color: #00000b;
    font-family: 'Monoton', cursive;
    letter-spacing: 1rem;
    color: yellow;
  }
  
  label {
    padding: 1.5px;
    background-color: #00000b;
  }
  button {
    margin: 10px 10px;
    padding: 1.5px;
    background-color: blue;
  }

  .itemList ul {
    border: 1px solid white;
  }

  
  