* {
    background-color: #090957;
    color: white;
    display: block;
    font-size: 16px;
  }
  
  body {
    font-family: monospace;
    font-size: 1.3rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    width: 100vw;
  }

  span {
    display: inline;
  }

  .warn {
    color: red;
  }

  .caution {
    color: yellow;
  }

  .safe {
    color: green;
  }
  
  .container {
    background-color: #00000b;
    padding: 25px;
    border: 2px dotted white;
    width: 500px;
    max-width: 75%;
  }

  .game-text-container {
    padding-left: 25px;
  }

  .text-window {
    padding: 0 25px 25px 25px;
    width: 750px;
    max-width: 75%;
    justify-content: flex-start;
  }

  .game-text-container h3 {
    padding-left: 25px;
  }

  .status-window {
    display: flex;
    flex-direction: column;
  }

  .status-window p {
    padding: 0;
    margin: 0;
  }
  
  input {
    background-color: red;
    color: blue;
    border: 1.5px solid white;
    padding: 5px;
  }
  
  input:focus {
    background-color: #175704;
    color: red;
  }
  
  .title h3 {
    background-color: #00000b;
    /*   text-align: center */
  }
  
  label {
    padding: 1.5px;
    background-color: #00000b;
  }
  button {
    margin: 10px 10px;
    padding: 1.5px;
    background-color: blue;
  }
  