* {
    background-color: #090957;
    color: white;
    display: block;
    font-size: 16px;
  }
  /* create flex container for document */
  body {
    font-family: monospace;
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
  }
  
  .container {
    background-color: #00000b;
    padding: 25px;
    border: 2px dotted white;
    width: 500px;
    max-width: 75%;
  }
  
  input {
    background-color: red;
    color: blue;
    border: 1.5px solid white;
    padding: 5px;
  }
  
  input:focus {
    background-color: #175704;
    color: red;
  }
  
  .title h3 {
    background-color: #00000b;
    /*   text-align: center */
  }
  
  label {
    padding: 1.5px;
    background-color: #00000b;
  }
  button {
    margin: 10px 10px;
    padding: 1.5px;
    background-color: blue;
  }
  